* {
  margin: 0;
  padding: 0;
}

header {
  height: 10%;
  width: 100%;
  background-color: #00c9fc;
}

.slider {
  height: 30%;
  width: 100%;
  background-color: #f8ffdd;
}

.offerbox {
  height: 30%;
  width: 100%;
  background-color: #b2fbff;
}
p {
  text-align: center;
}
.offerboxChild {
  height: 150px;
  width: 150px;
  margin: 30px;
  float: left;
  background-color: white;
}

.trendingbox {
  height: 50%;
  width: 100%;
  background-color: #f8ffdd;
}

.trendingboxChild {
  height: 300px;
  width: 300px;
  margin: 30px;

  float: left;
  background-color: white;
}

.category {
  height: 50%;
  width: 100%;
  background-color: #b2fbff;
}

.categoryleft {
  height: 100%;
  width: 35%;
  background-color: silver;
  float: left;
}

.categoryright {
  height: 100%;
  width: 64%;
  background-color: green;
}
