* {
  margin: 0;
  padding: 0;
}

header {
  height: 10%;
  width: 100%;
  background-color: #00c9fc;
}

#logo{
  height: 100%;
  width: 25%;
  float: left;
}

#logoimage{
  height: 100%;
  width: 40%;
  background-color: red;
  float: left;
}

#projectname{
  height: 100%;
  width: 60%;
  background-color: blue;
  float: left;
}

#navbar{
  height: 100%;
  width: 50%;
  float: left;
}

ul{
  list-style: none;
  text-align: center;
}

li{
  display: inline-block;
  margin: 25px;
  margin-left: 50px;
}
#loginregister{
  height: 100%;
  width: 25%;
  float: left;
  background-color: red;
}

.slider {
  height: 30%;
  width: 100%;
  background-color: #f8ffdd;
}

.offerbox {
  height: 30%;
  width: 100%;
  background-color: #b2fbff;
}
p {
  text-align: center;
}
.offerboxChild {
  height: 150px;
  width: 150px;
  margin: 30px;
  float: left;
  background-color: white;
}

.trendingbox {
  height: 50%;
  width: 100%;
  background-color: #f8ffdd;
}

.trendingboxChild {
  height: 300px;
  width: 300px;
  margin: 30px;
  margin-bottom: 0px;
  float: left;
  background-color: white;
}

.category {
  height: 50%;
  width: 100%;
  background-color: #b2fbff;

}

.categoryleft {
  height: 100%;
  width: 35%;
  float: left;
  background-color: #FFEB50; 
  text-align: center;
}
.categoryright {
  height: 100%;
  width: 65%;
  float: left;
  background-color: #F9DB0F;
}

.categoryrightChild{
  height: 150px;
  width: 150px;
  margin: 15px 40px;
  margin-left: 50px;
  float: left;
  background-color: white;
}

footer{
  height: 30%;
  width: 100%;
  background-color: #00c9fc;
}
